table,
td,
th {
  margin: auto;
  border: #444444 1px solid;
}

input {
  outline: none;
}

.cardField {
  width: 500px;
  height: 300px;
  margin: 50px auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.card {
  width: 25%;
  height: 175px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
  margin: 10px;
  float: left;
}
